/insert/nbproject/private/
/insert/build/
/crud/nbproject/private/
/crud/build/
/updateQuery/nbproject/private/
/updateQuery/build/
/insertPrepare/nbproject/private/
/SelectPrepare/nbproject/private/
/SelectPrepare/build/
/SelectPrepare/dist/
/WebApplication1/nbproject/private/
/pro1/dist/
/registration/nbproject/private/
/registration/build/
/curd/nbproject/private/
/curd/build/